<div class="main-container">
  <header class="header header-3">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="atom"></clr-icon>
        <span class="title">Cluster Service Version Editor</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle menu">
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem (click)="openUpload()">Upload</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

  </header>
  <div class="content-container">
    <div class="content-area">
      content

      <app-upload [(open)]="toggleUpload"></app-upload>
    </div>
  </div>
</div>
