<div class="clr-row">
  <div class="clr-col-9 viewer">
    <markdown ngPreserveWhitespaces>{{description}} </markdown>
  </div>
  <div class="clr-col-3 properties">
    <app-overview-detail name="Version">
      {{csv.spec.version}}
    </app-overview-detail>

    <app-overview-detail name="Capability Level">
      <app-capability-level [currentLevel]="csv.metadata.annotations.capabilities"></app-capability-level>
    </app-overview-detail>

    <app-overview-detail name="Provider">
      {{csv.spec.provider.name}}
    </app-overview-detail>

    <app-overview-detail name="Links">
      <app-link-list [links]="csv.spec.links"></app-link-list>
    </app-overview-detail>

    <app-overview-detail name="Repository">
      <a [href]="csv.metadata.annotations.repository" target="_blank">
        {{csv.metadata.annotations.repository}}
        <clr-icon shape="link" [attr.size]="12"></clr-icon>
      </a>
    </app-overview-detail>

    <app-overview-detail name="Container Image">
      container image
    </app-overview-detail>

    <app-overview-detail name="Created At">
      {{csv.metadata.annotations.createdAt}}
    </app-overview-detail>

    <app-overview-detail name="Maintainers">
      <app-maintainer-list [maintainers]="csv.spec.maintainers"></app-maintainer-list>
    </app-overview-detail>

    <app-overview-detail name="Categories">
      <app-categories-list [source]="csv.metadata.annotations.categories"></app-categories-list>
    </app-overview-detail>
  </div>
</div>
