<div class="clr-row">
  <div class="clr-col-9 viewer">
    <markdown ngPreserveWhitespaces>{{description}} </markdown>
  </div>
  <div class="clr-col-3 properties">
    <app-overview-detail name="Version">
      {{csv.spec.version}}
    </app-overview-detail>

    <app-overview-detail name="Capability Level">
      <app-capability-level [currentLevel]="csv.metadata.annotations.capabilities"></app-capability-level>
    </app-overview-detail>

    <app-overview-detail name="Provider">
      {{csv.spec.provider.name}}
    </app-overview-detail>

    <app-overview-detail name="Links">
      links
    </app-overview-detail>

    <app-overview-detail name="Repository">
      repository
    </app-overview-detail>

    <app-overview-detail name="Container Image">
      container image
    </app-overview-detail>

    <app-overview-detail name="Created At">
      created at
    </app-overview-detail>

    <app-overview-detail name="Maintainers">
      maintainers
    </app-overview-detail>

    <app-overview-detail name="Categories">
      categories
    </app-overview-detail>
  </div>
</div>
